label, p {
    color: #CCC;
}

.form-control:focus + label {
    color: #CCC !important;
}

.form-control + label {
    color: #CCC !important;
}

.form-control:focus + label:after {
    background-color: #212529 !important;
}
.form-control + label:after {
    background-color: #212529 !important;
}

textarea, input:not(.passed, .failed) {
    background-color: #212529 !important;
    border: 1px solid #343a40 !important;
    color: #CCC !important;
}

input.passed {
    background-color: #212529 !important;
    border: 1px solid lawngreen !important;
    color: #CCC !important;
}

input.failed {
    background-color: #212529 !important;
    border: 1px solid #de4242 !important;
    color: #CCC !important;
}

.content-panel {
    padding: 12px;
    border-radius: 0.375rem;
    margin-bottom: 16px;
}

.max-width-1600 {
    max-width: 1600px;
    margin: 0 auto;
}

.bg-color {
    background-color: #343a40;
}

.primary-color {
    background-color: #495057;
}

.secondary-color {
    background-color: #50575e;
}

.accent-color {
    background-color: #0d6efd;
}

.logo {
    height: 64px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 900;
}

.main-content {
    margin-top: 100px;
}

h2, h4 {
    color: #CCC !important;
}

.width-fixed {
    margin: 20px;
    width: 360px;
}

.bkg-blur {
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.h-line {
    height: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.h-line > div {
    margin-top: -12px;
    color: #CCC !important;
}

.message {
    padding: 12px !important;
    border-radius: 0.375rem;
    color: white !important;
}

.notice.message {
    background-color: #212529;
}

.alert.message {
    background-color: #de4242;
}

.Weak {
    background-color: #de4242;
    border-radius: 10px;
    height: 10px;
}

.Mediocre {
    background-color: yellow;
    border-radius: 10px;
    height: 10px;
}

.Strong {
    background-color: lawngreen;
    border-radius: 10px;
    height: 10px;
}

.password-meter {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #333;
}

.password-meter-container span {
    color: #CCC;
}

.free-tier-message {
    font-size: 14px;
}

u {
    text-decoration-style: dotted;
}

.history-item {
    background: #212529;
    padding: 10px;
    border-radius: 0.375rem;
    overflow-x: hidden;
    position: relative;
}

.history-item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 68px;
    width: 30px;
    background: linear-gradient(90deg, #21252900, #212529ff);
}

.history-item:hover > .history-item-overlay {
    width: 100%;
}

.history-item-overlay > .load-btn {
    display: none;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

.history-item:hover > .history-item-overlay > .load-btn {
    display: block;
}

.history-item > .prompt {
    text-wrap: nowrap;
    font-size: 12px;
    margin-bottom: 6px;
}

.history-item > .prompt + .regex {
    text-wrap: nowrap;
    margin-bottom: 0px;
}

.history-modal {
    overflow-y: auto;
    max-height: 270px;
}