label, p {
    color: #CCC;
}

textarea, input:not(.passed, .failed) {
    background-color: #212529 !important;
    border: 1px solid #343a40 !important;
    color: #CCC !important;
}

input.passed {
    background-color: #212529 !important;
    border: 1px solid lawngreen !important;
    color: #CCC !important;
}

input.failed {
    background-color: #212529 !important;
    border: 1px solid #de4242 !important;
    color: #CCC !important;
}

.content-panel {
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.max-width-1600 {
    max-width: 1600px;
    margin: 0 auto;
}

.bg-color {
    background-color: #343a40;
}

.primary-color {
    background-color: #495057;
}

.secondary-color {
    background-color: #50575e;
}

.accent-color {
    background-color: #0d6efd;
}

.logo {
    width: 60px;
    height: 60px;
}

h2, h4 {
    color: #CCC !important;
}

.width-fixed {
    margin: 20px;
    width: 400px;
}

.bkg-blur {
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.h-line {
    height: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.h-line > div {
    margin-top: -12px;
    color: #CCC !important;
}

.message {
    padding: 12px !important;
    border-radius: 8px;
    color: white !important;
}

.notice.message {
    background-color: #212529;
}

.alert.message {
    background-color: #de4242;
}

.Weak {
    background-color: #de4242;
    border-radius: 10px;
    height: 10px;
}

.Mediocre {
    background-color: yellow;
    border-radius: 10px;
    height: 10px;
}

.Strong {
    background-color: lawngreen;
    border-radius: 10px;
    height: 10px;
}

.password-meter {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #333;
}

.password-meter-container span {
    color: #CCC;
}